@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif; 
}

#inome{
    background-image: url(../imagens/icones/user.png);
    display: inline-block;
    padding: 8px 8px 8px 40px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 10px center;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.50);

    }

#iemail{
    background-image: url(../imagens/icones/mail.png);
    display: inline-block;
    padding: 8px 8px 8px 40px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 10px center;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.50);
}

#iest{
    background-image: url(../imagens/icones/state.png);
    display: inline-block;
    padding: 8px 8px 8px 40px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 10px center;
    width: 92%;
    border: 1px solid rgba(128, 128, 128, 0.50);

}

h1{
    color: rgba(128, 128, 128, 0.479);
    font-size: 20px ;
    padding: 10px 10px 10px 20px;
}

div.container-white > h2{ 
    padding: 5px 20px;
    font-size: 1em;
    color: #1a7fbd;
}

div.container-blue > h2{
    padding: 10px 20px 15px 10px;
    font-size: 1em;
    color: white;
}

div.container-blue{
    display:  block;
    text-align: justify;
    background-color: #2895cd;
    padding: 15px;
    color: white; 
}

.box{
    display: inline-block;
    padding: 5px 2px;
    color: white;
    text-align: end;
}

div.container-white2 > h2{
    padding: 20px 20px;
    font-size: 1em;
    color: #1a7fbd;
}

div.container-white2 {
    display: block; 
}

#resp{
    border-bottom: 1px solid gray;
    margin: 0px 20px;

}
.box2 {
    display: inline-block;
    margin-left: ;
    border: 1px solid red;
    padding: 5px 25px 20px 5px ;
}