@charset "UTF-8";

.principal  {
    background-image: url(../imagens/bannertopo.png);
    background-size: cover;
    size: 100vw;
    width: 100vw;
    height: 100vh; 
}

section.projeto {
    background-color: #1a7fbd;
 
}
#logo{
    size: 400px;
}

h2{
    background-color: #1a7fbd;
    border: 1px solid red;
}

footer{
    background-color: black;
}
#ProcSelet{
    background-color: blue;
    color: white;
}
