@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
       margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
}
header {
    background-color: #1a7fbd;
    display: block; 
}
section.principal {
    display: block;
    /* background-image: url(../imagens/bannertopo.png); */
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

#foto{
    border: 1px solid greenyellow;

  max-width: 100%;
  height: auto;
}

div#logo_proc {
    margin: auto;
    padding: 10px;
    padding-right: 20px;
}

img#logo{
    border: 1px solid red;
    
    display: inline-block;  
    width: 20%;
    height: 20%;
}
input#ProcSelet{
    border: 1px solid red;
    position: absolute;
    right: 3%;    
    padding: 6px;
    background-color: black;
    color: white;
    font-size: 0.6em;
    border-radius: 5px;
    
}

ul {
    border: 1px solid red;
    padding: 10px;
text-align: center;
}
li {
    display: inline; 
    padding: 10px;
    color: white; 
}




iframe {
    background-color: white;
    height: 500px;
}

iframe  h1 {
    color: red;
}