@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #2895cd;
}
#foto{ 
    width: 100%;
    height: auto;
}

img#logo{
    padding: 15px;
    display: block;  
    width: 30%;
    height: 30%;
}

input#ProcSelet{
    align-items: center;
    position: absolute;
    top: 20px;
    right: 5%;
    padding: 6px;
    background-color: black;
    color: white;
    font-size: 0.6em;
    border-radius: 5px;
    
} 

a{
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: #1d6285 ;
    transition: 0.5s;
}

ul {
    display: block;
    padding: 10px;
    text-align: center;
 
}

li {
    display: inline; 
    padding: 10px;
    font-size: 1rem;
}



iframe {
    display: block;
    padding: 10px;
    background-color: white;
    width: 96%;
    height: 680px;
    border: none;
    z-index: 2;
}

.projeto{
    background-color:#2895cd;
}

/* div.container-1{
  display: inline-block;
    border: 1px solid greenyellow;
    width: 100vw;
    height: auto;
}

div.container-1 img{  
    background-color: #2895cd;
    border: 1px solid black;
    width: 200px;
    height: auto;  
    text-align: center;
} */

div.container-1 {
    display: inline-block;
    width: 100vw;
    height: auto;
    text-align: center; /* Centraliza a imagem horizontalmente */
}

div.container-1 img {
    background-color: #2895cd; 
    width: 200px;
    height: auto;
    margin: auto; /* Centraliza a imagem verticalmente */
    display: block; /* Remove espaçamento extra abaixo da imagem */
}

div.container-2 {
    display: inline-block; 
    width: 100vw;
    height: auto;
    text-align: center; /* Centraliza a imagem horizontalmente */
}

div.container-2 img {
    background-color: white; 
    width: 200px;
    height: auto;
    margin: auto; /* Centraliza a imagem verticalmente */
    display: block; /* Remove espaçamento extra abaixo da imagem */
}


footer {
}