 @charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: auto;
    height: auto;

}

body, html {
    width: 100vw;
    height: 100vh;
}
header {

    background-color: #1a7fbd;
    display:block; 

}
section.principal {
    display: inline;
    /* background-image: url(../imagens/bannertopo.png); */
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#foto{
    border: 1px solid greenyellow;
display: inline-block;
  max-width: 100%;
  height: auto;
}

div#logo_proc {
    margin: auto;
    padding: 10px;
    padding-right: 20px;
}

img#logo{  
    border: 1px solid red;
    
    display: inline-block;  
    width: 20%;
    height: 20%;
}

img#logo{
    border: 1px solid red;
    margin: auto;
    display: block;  
    width: 30%;
    height: 30%;
}
input#ProcSelet{
    border: 1px solid red;
    position: absolute;
    right: 3%;    
    padding: 6px;
    background-color: black;
    color: white;
    font-size: 0.6em;
    border-radius: 5px;
    
}

ul {
    border: 1px solid red;
    padding: 10px;
text-align: center;
}
li {
    display: inline; 
    padding: 10px;
    color: white; 
}


iframe {
    display: block;
    padding: 10px;
    background-color: white;
    width: 96%;
    height: 500px;
    border: none;
    z-index: 2;

}

img#dev{
    display: inline-block;
    height: 300px;
   
}

img#container2{
    display: inline-block;
    height: 300px;
     
}