@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #2895cd;
}
#foto{ 
    width: 100%;
    height: auto;
}

img#logo{
    border: 1px solid red;
    /* margin: auto; */
    display: block;  
    width: 30%;
    height: 30%;
}

input#ProcSelet{
    border: 1px solid red;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 5%;
    padding: 6px;
    background-color: black;
    color: white;
    font-size: 0.6em;
    border-radius: 5px;
    
} 

a{
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: #1d6285 ;
    transition: 0.5s;
}

ul {
    display: block;
    border: 1px solid blue;
    padding: 10px;
    text-align: center;
 
}

li {
    display: inline; 
    padding: 10px;
    font-size: 1rem;
}



iframe {
    display: block;
    padding: 10px;
    background-color: white;
    width: 96%;
    height: 600px;
    border: none;
    z-index: 2;

}
/* 
div.container-foto {
    border: 1px solid red;
    max-width: 100%;
    height: auto;
} */

div.container-foto img{ 
    border: 1px solid red;
    width: 100%;
    height: auto;
    
}