@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

header{ 
    background-color: #1A7FBD;
}


#foto{ 
    width: 100%;
    height: auto;
}

#foto2 {
    display: none;
}

img#logo{
    padding: 15px;
    display: flex;  
    width: 30%;
    height: 30%; 

}

input#ProcSelet2{
    display: none;
}
input#ProcSelet{
    align-items: center;
    position: absolute;
    top: 15px;
    right: 5%; 
    padding: 10px;
    background-color: #000;
    color: #FFF;
    font-size: 0.6em;
    border-radius: 8px;
    cursor: pointer;  

} 

    #ProcSelet:hover{
        border: 1px solid #FFF;
    }

    #sublinhar{
        width: 100%;
        height: 4px;
    }

    #itens ul {
        display: none;
    }

    #itens2 a{
        text-decoration: none;
        color: #FFF;
    }

#itens2 a:hover{
border: 1px solid #FFF;
padding: 4px;
transition: 0.4s;
border-radius: 6px;
}

#itens2 ul {
    display: block;
    padding: 10px;
    text-align: center;
 
}

#itens2 li {
    display: inline; 
    padding: 6px;
    font-size: 1rem;
}

#faixa{
display: none;
}

div#fotoPrincipal iframe {
    display: flex;
    padding: 10px;
    background-color: #FFF;
    width: 96%;
    height: 680px;
    border: none;
    z-index: 2;
}

.projeto{
    background-color:#1A7FBD;
    height: 100%;
}

div.container-1 {
    display: inline-block;
    width: 95vw;
    height: auto;
    text-align: center; 
    padding: 10px 0px;
 }

img#dev {
    background-color: #1A7FBD; 
    width: 200px;
    height: auto;
    text-align: center;
    display: inline-block;
}

#paragrafo1 {
    padding: 0px 10px;
    color: #FFF;
    text-align: justify;
}

#paragrafo1 > h1 {
    padding-bottom: 20px;
    text-align: left;
    color: rgba(255, 255, 255, 0.644);
}

div.container-2 {
    display: inline-block; 
    width: 100vw;
    height: auto;
    text-align: center; 
}

div.container-2 img {
    background-color: #FFF; 
    width: 200px;
    height: auto;
    display: inline-block; 
    text-align: center;
}

#paragrafo2 > p {
    padding: 10px 20px;
    color: #000;
    text-align: justify;
}

#paragrafo2 > h1 {
    padding-left: 20px;
    color: #1A7FBD;
    text-align: left; 
    font-size: 2em;
}

 
.box-p{
    position: relative;
}

.number{
    font-size: 3em;
    position: absolute;
    top: -20px;
    left: 42%;
    color: rgba(0, 0, 0, 0.068);
}  

.box-row{
    display: block;
    text-align: center;
    padding: 10px;
}

.box-p {
    display: inline-block; 
    background-color: #FFF;
    margin: 10px 5px ;
    width: 250px;
    height: 150px;
    padding: 20px;
    vertical-align: top; 
    align-content: center;
    border-radius: 15px;
    box-shadow: 5px 5px 10px ;
}

.box-p > h2 {
    padding-bottom: 10px;
}

#vetor{ 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#vetor > h1 {
    font-size: 2em;
    padding: 10px;
    margin: 20px 0px;
    color: #1A7FBD;    
}

#vetor img{
    width: 100px;
}

#vetor360 {
    transform: rotate(180deg);
}

#jornada-box{
    display: block;
    color: #FFF;
}

#jornada-box img{
    background-color: #FFF;
    margin: 8px;
    padding: 10px;
    border-radius: 6px;
    width: 25px;
}

#jornada-box > p{
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    width: 380px;
    align-items: center;
    border-radius: 8px;
    background-color: #1A7FBD;
}

#procSelet2 {
    display: flex; 
    background-color: #000;
    color: #FFF;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
    width: 350px;
    border-radius: 10px;
    font-size: 0.80em;
    font-weight: bolder;
    text-align: center;
    align-items: center;
}

#procCor{
    color: #1A7FBD;
    font-size: 1em;}
    
    #procSelet2 img { 
        width: 30px;
        margin-left: 10px;
        cursor: pointer;        
    }

    #vetor1 { 
    display: flex;
    margin: auto;
    margin-top: 20px;

    }
    

    div.container-3 {
        display: block;
        margin-top: 50px;
        padding-bottom: 50px;
        display: inline-block; 
        background-color: #1A7FBD;  
        width: 100%;
        height: auto;
        text-align: center; 

    }
    
    div.container-3 > h1 {
       font-size: 2em;
       text-align: center;
       padding: 40px 0px;
       color: #FFF;
     } 

       footer { 
        display: block;
        margin: auto;
        padding: 40px 10px;
        background-color: #000;
        color: #FFF; 
    }

    #logoNetuno{
        display: block;
    }

    .redSoc{
        width: 20px;
        padding: 10px 2px 0px;
    }
    #redeSocial p {
        font-size: 0.6em;
        padding-bottom: 15px;
    }
    
    #ProcSeletFooter {
        padding: 10px; 
        border-radius: 8px;
        font-weight: bolder;
        cursor: pointer;
        margin-bottom: 28px;
    }
    #ProcSeletFooter:hover{
        background-color: #000;
        color: #FFF;
        border: 1px solid #FFF;
    }

    #listas a{
        text-decoration: none;
        color: #FFF;
    }

    #listas ul {
        display: block;
     
    }
    
    #listas li {
        display: inline; 
        font-size: 0.9em;
        padding: 10px;
        border: 1px solid rgb(56, 54, 54);
        border-radius: 8px;
    }

    #listas li:hover{
        background-color: #000;
        border: 1px solid #FFF;
    }

    #contato{
        margin: 30px 0px 0px;
    }

    #contato a{
        text-decoration: none;
        color: #FFF;
    }
    
    #contato  h3,  p { 
        padding-bottom: 5px;
        font-size: 1em;  
    }  