@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#inome{
    background-image: url(../imagens/icones/user.png);
    }

#iemail{
    background-image: url(../imagens/icones/mail.png);
}

#iest{
    background-image: url(../imagens/icones/state.png);
}

h1{
    color: blueviolet;
    font-size: 1.5em ;
}

h2{
    font-size: 1em;
}