@charset "UTF-8";

@media screen and (min-width: 992px) {

    *{
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    body, html {
        width: 100vw;
        height: 100vh;
    }
    
    header {
    background-color: #218BC5;

    }
nav{ 
    display: flex;    /* Define o container do header como flexível */
     justify-content: center; /* Centraliza as caixas horizontalmente */
    align-items: center;   /* Centraliza as caixas verticalmente */
    height: 80px;
}

#foto{
    display: none;
}

img#logo{
    display: flex;
    width: 180px;
    height: auto;
}
#itens2 ul {
    display: none;
}

#itens ul {
    display: block;
    padding: 10px;
    margin: 0px 100px;
 }

#itens li { 
     display: inline; 
    padding: 0px 25px;
    font-size: 1rem;
}

#itens a{
    text-decoration: none;
    color: white;
}

#itens a:hover{
    border: 1px solid white;
    padding: 4px;
    transition: 0.4s;
    border-radius: 6px;
}

input#ProcSelet{
    display: none;
} 

input#ProcSelet2{
    display: block;
    padding: 10px 30px;
    background-color: black;
    color: white;
    font-size: 0.8em;
    font-weight: bolder;
    border-radius: 8px;
    cursor: pointer;  
} 
#ProcSelet2:hover{
    border: 1px solid white;
}

#sublinhar{
    width: 100%;
    height: 6px;
}

#foto2 {
    display: block;
    width: 80%;
    height: 100%;
}
div#fotoPrincipal{
    background-color: #1A7FBD;
    position: relative;
    width: 100vw;
    height: 100%;
}

#faixa {
    display: block;
    position: absolute;
    width: 250px;
    height: 250px;
    right: 0px;
    top: 490px;
}


div#fotoPrincipal iframe  {
    position: absolute;
    display: flex;
    top: 10%;
    right: 10%; 
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    width: 400px;
    height: 700px;
    border: none;
    z-index: 2;
}

.projeto{
    background-color:#1A7FBD;
    height: 100%;
}

div.container-1 {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100vw;
    height: 100%;

}

img#dev {
    background-color: #1A7FBD; 
    padding: 0px 80px 50px 80px;
    width: 600px;
    height: auto;
}

#paragrafo1 {
text-align: justify;
width: 400px;
color: white;

}

#paragrafo1 > h1 {
    color: #6ac3fa;
    font-size: 2.5em;
    padding: 20px 0px;
}


div.container-2 {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100vw;
    height: auto;
    
    
}

img#container2 {
    background-color: white; 
    padding: 50px 80px;
    width: 550px;
    height: auto;
    
    
}

#paragrafo2 p {
text-align: justify;
width: 400px;
color: black;

}

#paragrafo2 > h1 {
    color: #018fd6;
    font-size: 2.5em;
    padding: 20px 15px;   
}
 
div.box-row{ 
    display: block;
    text-align: center;
    padding: 10px; 
}

#vetor img{
    width: 40%;
}

#vetor360 {
    transform: rotate(180deg);

}

#jornada-box{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    margin: auto;
    width: 90vw;
    color: white; 
}

#jornada-box img{
    background-color: white;
    margin: 8px;
    padding: 10px;
    border-radius: 6px;
    width: 25px;

}

#jornada-box > p{
    display: flex;
    margin: 0px 30px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 10px #218cc567;
    width: 380px;
    align-items: center;
    border-radius: 8px;
    background-color: #018fd6;

}

#procSelet2 {
    display: flex; 
    background-color: black;
    color: white;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
    width: 430px;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: bolder;
    text-align: center;
    align-items: center;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
    color: white;
    padding: 60px;
   }


#final {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    max-width: 1200px; 
    margin: 0 auto; 
}

#redeSocial{
    display: block;
    margin: 0px 50px;
}

#ProcSeletFooter {
    margin: 0px 50px;    
}

ul#listas {
    display: block;
    border-right:1px solid white ;    
    }

#listas li {
    margin: 0px 60px;
    display: block; 
    margin-bottom: 10px;
    font-size: 0.9em;
    padding: 8px;
    border: 1px solid rgb(56, 54, 54);
    border-radius: 8px;
}

div#contato > h3 {
    margin-left: 50px;
    margin-bottom: 5px;
}

div#contato > p > a {
    margin-left: 50px;
    margin-bottom: 5px;
   }
}